@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ff-m {
  font-family:'Montserrat', sans-serif;
}

.ff-m-b {
  font-family:'Montserrat', sans-serif;
  font-weight: 700;
}

.ff-r-s {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.ff-r-b {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  border-bottom: 0.1rem solid #e8e8e8;
  padding-bottom: 1rem;
}

.nav-bar {
  justify-content: space-between;
  align-items: center;
  margin: 1.813rem 6.188rem 1.813rem 6.25rem;
}

#brand {
  font-weight: 700;
  font-size: 1.875rem;
  height: 2.313rem;
  color: #0290ff;
}

.nav-item {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.813rem;
  color: #121212;
  height: 1rem;
  opacity: 0.5;
  letter-spacing: 1.9px;
  margin: 0 2.563rem 0 2.938rem;
}

.nav-item:focus {
  opacity: 1;
}

.person {
  color: #0290ff;
  font-size: 1.063rem;
  margin: auto;
  text-align: center;
}

.icon {
  outline: #e8e8e8 2px solid;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
}

.main {
 background-color: #f5f6fa;
 padding: 2.313rem 0 16.563rem;
}

.book-container {
  background-color: #fff;
  outline: 1px solid #e8e8e8;
  margin: 0 6.25rem 0.938rem;
  border-radius: 4px;
}

.book {
  width: 34.938rem;
  padding: 2rem 0 1.75rem 1.688rem;
}

.progress-data {
  width: 15.563rem;
}

.circle-container {
  align-items: center;
}

.circle {
  width: 4.25rem;
  height: 4.25rem;
  border-top: #0290ff 5px solid;
  border-bottom: #0290ff 5px solid;
  border-left: #e8e8e8 5px solid;
  border-right: #0290ff 5px solid;
  border-radius: 50%;
  transform: rotate(45deg);
}

.bar {
  background-color: #e8e8e8;
  height: 4.375rem;
  width: 0.125rem;
}

.book-statistics {
  margin: 2.063rem 0 2.188rem 3.688rem;
}

.book-category {
  color: #121212;
  font-size: 0.875rem;
  opacity: 0.5;
  margin-bottom: 0.25rem;
}

.book-title {
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  margin: 0;
}

.book-author {
  color: #4386bf;
}

.book-btn-section {
  margin: 1.313rem 0 0;
}

.book-btn {
  background-color: #fff;
  border: none;
  text-transform: capitalize;
  color: #4386bf;
  font-size: 0.875rem;
}

.bar-btn {
  background-color: #e8e8e8;
  height: 1.5rem;
  width: 0.125rem;
  margin: 0 1.063rem 0 0.938rem;
}

.progress-advance {
  margin-left: 1.313rem;
}

.progress-status {
  font-size: 2rem;
  color: #121212;
  height: 2.438rem;
  margin: 0;
}

.completed {
  font-size: 0.875rem;
  color: #121212;
  opacity: 0.5;
  text-transform: capitalize;
  height: 1.125rem;
}

.chapter {
  text-transform: uppercase;
  color: #121212;
  opacity: 0.5;
  font-size: 0.813rem;
  height: 1.125rem;
  margin: 0;
}

.book-chapter {
  text-transform: capitalize;
  color: #121212;
  font-size: 1rem;
  height: 1.313rem;
  margin: 0.438rem 0 1.438rem;
}

.progress-btn {
  text-transform: uppercase;
  background-color: #0290ff;
  color: #fff;
  font-size: 0.813rem;
  height: 2.063rem;
  width: 11.5rem;
  border-radius: 3px;
  border: none;
}

.division {
  outline: 1px solid #e8e8e8;
  margin: 2.5rem 6.25rem 1.813rem;
}

.form {
  margin: 0 6.25rem;
}

.form-title {
  margin: 0;
  text-transform: uppercase;
  color: #888888;
  font-size: 1.25rem;
  letter-spacing: -0.18px;
}

.form-data {
  margin: 2rem 0 0;
  gap: 2.125rem;
}

.input-title {
  flex-grow: 5;
  border: #e8e8e8;
  outline: 1px solid #e8e8e8;
  border-radius: 4px;
  padding-left: 1.063rem;
}

.input-data {
  height: 2.813rem;
  flex-grow: 1;
  border-radius: 4px;
  border: none;
  outline: 1px solid #e8e8e8;
  padding-left: 1.063rem;
}

.form-btn {
  text-transform: uppercase;
  background-color: #0290ff;
  color: #fff;
  font-size: 0.813rem;
  width: 11.5rem;
  border-radius: 3px;
  border: none;
  letter-spacing: 0.5px;
  height: 2.813rem;
}

input::placeholder {
  color: #c4c4c4;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: -0.15px;
}